<p>directives works!</p>
<ol>
    <li *ngFor="let name of names">{{name}}</li>
</ol>
<select name="" id="">
    <option *ngFor="let state of states">{{state}}</option>
</select>
<table  border="1" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Package</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name | uppercase}}</td>
            <td [ngClass]="{'green':user.age>0&&user.age<20,'yellow':user.age>20&&user.age<30,'red':user.age>30}">{{user.age}}</td>
            <td [ngStyle]="{'background-color':user.package<10?'red':'green'}">{{user.package}}</td>

        </tr>
    </tbody>

</table>

<h2 *ngIf="time>0&&time<12">GOOD MORNING</h2>
<h2 *ngIf="time>13&&time<20">GOOD AFTERNOON</h2>
<h2 *ngIf="time>20&&time<24">GOOD NIGHT</h2>
<h2>{{today}}</h2>
<h2>{{today | date: 'yyyy/dd/MM'}}</h2>
<h2>{{today |date:'short'}}</h2>