<h1>create student form</h1>
<form [formGroup]="studentForm">

    <label for="">Name:</label>
    <input type="text" formControlName="name">
    <br>
    <label for=""> Phone:</label>
    <input type="number" formControlName="phone">
    <br>
    <label for="email">Email:</label>
    <input type="text" formControlName="email">
    <br>

    <div formGroupName="address">
        <label for="">city:</label>
        <input type="text" formControlName="city">
        <br>
        <label for="">state:</label>
        <input type="text" formControlName="state">
        <br>
        <label for="">pin:</label>
        <input type="number" formControlName="pin">
        <br>
    </div>
    <button (click)="add()">add card</button>
    <br>
    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls; let i =index">
            <div formGroupName="{{i}}">

                <h2>Enter Card{{i+1}} details</h2>

                <label for="">number</label>
                <input type="number" formControlName="number">
                <br>
                <label for="">Expiry</label>
                <input type="month" formControlName="expiry">
                <br>
                <label for="">cvv</label>
                <input type="number" formControlName="cvv">

                <br>
                <button (click)="delete(i)">delete</button>

            </div>
        </div>
    </div>

    <label for="">Type</label>
    <input type="radio" name="type" formControlName="type" value="dayscholar">
    <label for="">Day scholar</label>
    <input type="radio" name="type" formControlName="type" value="residential">
    <label for="">Residential</label>
    <br>
    <div *ngIf="studentForm.get('type')?.value=='dayscholar'">

    <label for="">Bus Fees:</label>
    <input type="number" formControlName="busFee">
    <br>

    </div>

    <div *ngIf="studentForm.get('type')?.value=='residential'">

    <label for="">Hostel Fee:</label>
    <input type="number" formControlName="hostelFee">
    <br>
    </div>

    <button (click)="submit()">submit</button>
</form>
