<div class="parent">
    <div class="left">
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="data-binding">data-binding</h4>
        <h4 routerLink="calculator">Calculator</h4>
        <h4 routerLink="rectangle">rectangle</h4>
        <h4 routerLink="directives">directives</h4>
        <h4 routerLink="gpay">Gpay</h4>
        <h4 routerLink="flipkart">flipkart</h4>
        <h4 routerLink="vehicle">vehicle</h4>
        <h4 routerLink="bank">bank</h4>
        <h4 routerLink="flipkart-app">flipkart-app</h4>
        <h4 routerLink="mail">Mail</h4>
        <h4 routerLink="boredom">boredom</h4>
        <h4 routerLink="create-vehicle">create-vehicle</h4>
        <button routerLink="/login" class="logout-button">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>
